* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.iconify-icon {
  line-height: 10px !important;
  vertical-align: middle;
}

:root {
  --primary-color: #ec1a23;
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Inter', sans-serif;
  --tertiary-font: 'Caveat', cursive;
  --transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

.order-button {
  font-family: var(--primary-font);
  background: var(--primary-color);
  padding: 14px 30px;
  border-radius: 10px;
  color: #fff;
}

.order-button iconify-icon {
  font-size: 20px;
}

.order-button:hover {
  color: #fff;
}

/* Nav Bar Start Here */
.navbar .navbar-nav li {
  padding: 0 12px;
}

.navbar .navbar-nav li a {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.button-nav {
  display: flex;
  align-items: center;
  margin-top: -8px;
}

.navbar .navbar-nav .order-button {
  color: #fff;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler iconify-icon {
  font-size: 30px;
}

/* Nav Bar End */

/* Hero Banner Start */
.banner-content {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.banner-content img {
  width: 100%;
  height: 100%;
}

/* Custom Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-prev:before,
.slick-next:before {
  content: '';
}

/* Dot Navigation Styling Fix */
.slick-dots {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: flex !important;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  background: #ddd;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background: var(--primary-color);
}

/* Hero Banner End Here */

/* Business Details Start Here */
#business_details {
  margin-top: 47px;
  margin-bottom: 68px;
}

#business_details .heading_text {
  text-align: center;
}

#business_details .heading_text h3 {
  font-family: var(--tertiary-font);
  font-weight: 700;
  font-size: 50px;
  color: #1a1a1a;
}

#business_details .heading_text p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  color: #383838;
  margin: 6px 0 47px 0;
}

#business_details .heading_text h3 span {
  color: var(--primary-color);
}

.business-slider .slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.business-slider div {
  margin: 0 10px;
}

.business-slider .slick-slide img {
  max-width: 500px;
  margin: auto;
  transition: all 0.3s ease;
  transform: scale(0.8);
  opacity: 0.5;
}

.business-slider .slick-center img {
  transform: scale(1);
  opacity: 1;
}

/* Business Details End Here */

/* Menu Start Here */
#menu {
  margin-bottom: 72px;
}

#menu .heading .heading_text .main_heading h3 {
  font-family: var(--tertiary-font);
  font-weight: 700;
  font-size: 50px;
  color: #1a1a1a;
}

#menu .heading .heading_text .main_heading h3 span {
  color: var(--primary-color);
}

#menu .heading .heading_text .main_heading {
  position: relative;
}

#menu .heading .heading_text .main_heading .icon {
  position: absolute;
  top: -10px;
  left: -5px;
}

#menu .heading .heading_text .main_heading p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  color: #383838;
}

#menu .contents {
  margin-top: 45px;
}

.menu-item {
  display: flex;

}

/* .menuHover a {
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 10px;
  background: var(--primary-color);
  padding: 7px 15px;
  border-radius: 10px;
  color: #fff;
  font-family: var(--primary-font);
} */

.menu-item .food-card {
  width: 300px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item .food-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.menu-item .food-card img {
  width: 260px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

.menu-item .food-title {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 10px 0 5px;

}



.menu-item .food-desc {
  font-size: 14px;
  font-family: var(--primary-font);
  color: #777;
  margin-bottom: 15px;
}

/* Price & Button row */
.menu-item .price-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.menu-item .price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.menu-item .btn-cart {
  background: var(--primary-color);
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 8px 18px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item .btn-cart:hover {
  background: #e68900;
  transform: scale(1.05);
}





/* Menu End Here */

/* Happy Customer Start Here */
#happy_customer {
  margin-bottom: 117px;
}

#happy_customer .heading_text h3 {
  font-family: var(--tertiary-font);
  font-weight: 700;
  font-size: 50px;
  color: #1a1a1a;
}

#happy_customer .heading_text span {
  color: var(--primary-color);
}

#happy_customer .heading_text p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  color: #383838;
  margin-bottom: 40px;
}

#happy_customer .contents {
  width: 100%;
  /* height: 486px; */
  position: relative;
}

#happy_customer .gallery_image_1 {
  position: absolute;
  top: 0;
  left: 0;
}

#happy_customer .gallery_image_2 {
  position: absolute;
  top: 0;
  left: 108px;
}

#happy_customer .gallery_image_3 {
  position: absolute;
  top: 0;
  left: 282px;
}

#happy_customer .gallery_image_4 {
  position: absolute;
  top: 0;
  left: 457px;
}

#happy_customer .gallery_image_5 {
  position: absolute;
  top: 0;
  left: 630px;
}

#happy_customer .gallery_image_6 {
  position: absolute;
  top: 0;
  left: 803px;
}

#happy_customer .gallery_image_7 {
  position: absolute;
  top: 0;
  left: 975px;
}

#happy_customer .gallery_image_8 {
  position: absolute;
  top: 0;
  left: 1149px;
}

#happy_customer .gallery_image_9 {
  position: absolute;
  top: 0;
  left: 1323px;
}

/* Happy Customer End Here */

/* footer Start Here */
#footer {
  background: #00101d;
  height: auto;
}

#footer .content {
  padding: 87px 0 80px 0;
}

#footer .left-row p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  margin-top: 22px;
}

#footer .left-row .social-links a {
  color: #fff;
  font-size: 30px;
  gap: 0;
  margin: 0 10px;
}

#footer .middle-row h4 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

#footer .middle-row ul li a {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

#footer .middle-row ul li {
  margin: 10px 0;
}

#footer hr {
  color: #fff;
  margin: 50px 0;
}

#footer .right-row iframe {
  width: 400px;
  height: 200px;
}

#footer .copyright p {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

/* footer End Here */

/* cart design start here */
.cart {
  border-radius: 11px 0 0 11px;
  width: 65px;
  height: 65px;
  background: var(--primary-color);
  color: #fff;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.cart .iconify-icon {
  font-size: 40px;
}

.cart .notification {
  position: absolute;
  background: #ffc107;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: -5px;
  top: -5px;
}

/* cart design end here */

.food-modal {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

/* Close Button */
.food-modal .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  background: #fff;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 30px;
}

/* Food Image */
.food-img {
  max-height: 300px;
  object-fit: cover;
}

.food-modal .details h5,
.food-modal .details h6 {
  font-weight: 600;
}

.food-modal .details p {
  color: var(--primary-color);
  margin-bottom: 0;
}

/* Price */
.price del {
  font-family: var(--primary-font);
  margin: 0 6px;
  color: #333;
}

#cartModalPrice {
  font-family: var(--primary-font);
}

#cartModalDesc {
  margin-bottom: 0;
}

/* Sticky Footer */
.sticky-footer {
  position: sticky;
  bottom: 0;
  background: #fff;
  padding: 12px 20px;
  border-top: 1px solid #eee;
}

/* Quantity */
.quantity-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 25px;
  overflow: hidden;
}

.qty-btn {
  background: #f5f5f5;
  border: none;
  padding: 8px 15px;
  font-size: 18px;
  cursor: pointer;
}

#cartModalQuantity {
  width: 50px;
  text-align: center;
  border: none;
  outline: none;
  font-weight: bold;
}

/* Add to Cart Button */
.add-cart-btn {
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 40px;
  font-size: 16px;
  transition: 0.3s ease;
}

.add-cart-btn:hover {
  background: #fff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}


/* About Us  */


.section-padding {
  padding: 6rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
  color: black;
  position: relative;
}

.section-title:after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: var(--primary-color);
  margin: 20px auto;
  border-radius: 2px;
}









/* banner */


.inner-banner {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 140px 0;
}

.inner-banner {
  width: 100%;
  height: 100%;
}

.inner-banner .auto-container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner-banner .auto-container .subtitle {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}

.inner-banner .auto-container .pattern-image {
  margin: 15px 0;
}

.inner-banner .auto-container .pattern-image img {
  width: 150px;
}

.inner-banner .auto-container h1 {
  font-family: var(--tertiary-font);
  font-weight: 700;
  font-size: 5rem;
  color: #fff;
}

.inner-banner .image-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* banner end */


/* about us  */

#aboutus {
  background: #fff;
}

#aboutus h5 {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

#aboutus h2 {
  font-size: 32px;
  line-height: 1.3;
}

#aboutus .about-img {
  border-radius: 10px;
  transition: 0.3s;
}

#aboutus .about-img:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#aboutus .about-img2 {
  width: 80%;
}

#aboutus .about-img3 {
  width: 80%;

}

#aboutus .years {
  border-left: 5px solid var(--primary-color);
  color: var(--primary-color);
}

#aboutus .chefs {
  color: var(--primary-color);
  border-left: 5px solid var(--primary-color);

}

#aboutus p {
  color: #555;
  font-size: 15px;
  line-height: 1.7;
}

#aboutus .btn-warning {
  border-radius: 5px;
  transition: 0.3s;
}

#aboutus .btn-warning:hover {
  background: var(--primary-color);
}


#aboutus .aboutus_heading {
  font-family: var(--second-family);
  margin-bottom: 5px;
  color: var(--primary-color);
}

#aboutus h2 .text-warning {
  color: var(--primary-color);
}

#aboutus .about_subHeading {
  color: var(--primary-color);
}





/* about us end */

/* why choos  */



#why-choose-us .card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: var(--transition);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  margin-bottom: 1.5rem;
}

#why-choose-us  .card:hover {
  transform: translateY(0);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.rightside .about-img img {
  width: 100%;
  background: transparent;

}

#why-choose-us  .value-card {
  text-align: center;
  padding: 2.5rem 1.5rem;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#why-choose-us  .value-card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--primary-color);
}

#why-choose-us  .value-card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--primary-color);
  transition: var(--transition);
  z-index: -1;
}

#why-choose-us  .value-card:hover:after {
  height: 100%;
}

#why-choose-us  .value-card:hover .value-icon,
#why-choose-us  .value-card:hover h3,
#why-choose-us  .value-card:hover p {
  color: white;
}

#why-choose-us  .value-icon {
  font-size: 3.5rem;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  display: inline-block;
  transition: var(--transition);
}

#why-choose-us  .value-card:hover .value-icon {
  transform: scale(1.1) rotate(5deg);
}




/* why choos end */


#masonry {
  margin-bottom: 80px;
}



#masonry h1 {
  padding-top: 10px;
  margin-bottom: 30px;
}

#masonry .grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
}

#masonry .grid-wrapper>div {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

#masonry .grid-wrapper>div:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

#masonry .grid-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#masonry .wide {
  grid-column: span 2;
}

#masonry .tall {
  grid-row: span 2;
}

#masonry .big {
  grid-column: span 2;
  grid-row: span 2;
}









/* About Us  end*/