* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--primary-font);
}
body {
  font-family: var(--primary-font);
}


.iconify-icon {
  line-height: 10px !important;
  vertical-align: middle;
}

:root {
  --primary-color: #ec1a23;
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Inter', sans-serif;
  --tertiary-font: 'Caveat', cursive;
}

.order-button {
  font-family: var(--primary-font);
  background: var(--primary-color);
  padding: 14px 30px;
  border-radius: 10px;
  color: #fff;
}
.order-button iconify-icon {
  font-size: 20px;
}
.order-button:hover {
  color: #fff;
}

/* Nav Bar Start Here */
.navbar .navbar-nav li {
  padding: 0 12px;
}
.navbar .navbar-nav li a {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  color: #000;
}
.button-nav {
  display: flex;
  align-items: center;
  margin-top: -8px;
}
.navbar .navbar-nav .order-button {
  color: #fff;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler iconify-icon {
  font-size: 30px;
}

/* Nav Bar End */

/* Hero Banner Start */
.banner-content {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.banner-content img {
  width: 100%;
  height: 100%;
}
/* Custom Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-prev:before,
.slick-next:before {
  content: '';
}

/* Dot Navigation Styling Fix */
.slick-dots {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: flex !important;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  background: #ddd;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background: var(--primary-color);
}
/* Hero Banner End Here */

/* Business Details Start Here */
#business_details {
  margin-top: 47px;
  margin-bottom: 68px;
}
#business_details .heading_text {
  text-align: center;
}

#business_details .heading_text h3 {
  font-family: var(--tertiary-font);
  font-weight: 700;
  font-size: 50px;
  color: #1a1a1a;
}
#business_details .heading_text p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  color: #383838;
  margin: 6px 0 47px 0;
}
#business_details .heading_text h3 span {
  color: var(--primary-color);
}
.business-slider .slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.business-slider div {
  margin: 0 10px;
}

.business-slider .slick-slide img {
  max-width: 500px;
  margin: auto;
  transition: all 0.3s ease;
  transform: scale(0.8);
  opacity: 0.5;
}

.business-slider .slick-center img {
  transform: scale(1);
  opacity: 1;
}

/* Business Details End Here */

/* Menu Start Here */
#menu {
  margin-bottom: 72px;
}
#menu .heading .heading_text .main_heading h3 {
  font-family: var(--tertiary-font);
  font-weight: 700;
  font-size: 50px;
  color: #1a1a1a;
}
#menu .heading .heading_text .main_heading h3 span {
  color: var(--primary-color);
}
#menu .heading .heading_text .main_heading {
  position: relative;
}
#menu .heading .heading_text .main_heading .icon {
  position: absolute;
  top: -10px;
  left: -5px;
}
#menu .heading .heading_text .main_heading p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  color: #383838;
}

#menu .contents {
  margin-top: 45px;
}
#menu .contents .menu-item {
  width: 300px;
  height: 370px;
  border-radius: 15px;
  position: relative;
  margin: 10px;
  overflow: hidden;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
#menu .contents .menu-item .menu-img {
  height: 60%;
}
#menu .contents .menu-item .menu-details {
  margin-top: 10px;
  height: 40%;
}
#menu .contents .menu-item .menu-details .price {
  display: flex;
}
#menu .contents .menu-item h4 {
  margin-top: 10px;
  font-size: 19px;
  font-family: var(--primary-font);
  color: #ee0202;
  font-weight: 600;
  display: block;
}
#menu .contents .menu-item span {
  font-family: var(--primary-font);
  font-weight: 500;
  margin: 5px 0;
  color: #000;
}
#menu .contents .menu-item img {
  border-radius: 15px 15px 0 0;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.menuHover a {
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 10px;
  background: var(--primary-color);
  padding: 7px 15px;
  border-radius: 10px;
  color: #fff;
  font-family: var(--primary-font);
}
/* Menu End Here */

/* Happy Customer Start Here */
#happy_customer {
  margin-bottom: 117px;
}
#happy_customer .heading_text h3 {
  font-family: var(--tertiary-font);
  font-weight: 700;
  font-size: 50px;
  color: #1a1a1a;
}
#happy_customer .heading_text span {
  color: var(--primary-color);
}
#happy_customer .heading_text p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  color: #383838;
  margin-bottom: 40px;
}
#happy_customer .contents {
  width: 100%;
  /* height: 486px; */
  position: relative;
}
#happy_customer .gallery_image_1 {
  position: absolute;
  top: 0;
  left: 0;
}
#happy_customer .gallery_image_2 {
  position: absolute;
  top: 0;
  left: 108px;
}
#happy_customer .gallery_image_3 {
  position: absolute;
  top: 0;
  left: 282px;
}
#happy_customer .gallery_image_4 {
  position: absolute;
  top: 0;
  left: 457px;
}
#happy_customer .gallery_image_5 {
  position: absolute;
  top: 0;
  left: 630px;
}
#happy_customer .gallery_image_6 {
  position: absolute;
  top: 0;
  left: 803px;
}
#happy_customer .gallery_image_7 {
  position: absolute;
  top: 0;
  left: 975px;
}
#happy_customer .gallery_image_8 {
  position: absolute;
  top: 0;
  left: 1149px;
}
#happy_customer .gallery_image_9 {
  position: absolute;
  top: 0;
  left: 1323px;
}
/* Happy Customer End Here */

/* footer Start Here */
#footer {
  background: #00101d;
  height: auto;
}
#footer .content {
  padding: 87px 0 80px 0;
}
#footer .left-row p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  margin-top: 22px;
}
#footer .left-row .social-links a {
  color: #fff;
  font-size: 30px;
  gap: 0;
  margin: 0 10px;
}
#footer .middle-row h4 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}
#footer .middle-row ul li a {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
#footer .middle-row ul li {
  margin: 10px 0;
}
#footer hr {
  color: #fff;
  margin: 50px 0;
}
#footer .right-row iframe {
  width: 400px;
  height: 200px;
}
#footer .copyright p {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}
/* footer End Here */

/* cart design start here */
.cart {
  border-radius: 11px 0 0 11px;
  width: 65px;
  height: 65px;
  background: var(--primary-color);
  color: #fff;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.cart .iconify-icon {
  font-size: 40px;
}
.cart .notification {
  position: absolute;
  background: #ffc107;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: -5px;
  top: -5px;
}

/* cart design end here */





/* menu design start here*/

.food-menu-section {
  padding: 60px 20px;
  background: #fff8f4;
}

/* Tabs */
.food-menu-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.menu-tab-btn {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: 10px 22px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.menu-tab-btn:hover,
.menu-tab-btn.active {
  background: #ec1a23;
  color: #fff;
  border-color: #ec1a23;
}


.food-menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: center;
}

.food-menu-item {
  flex: 0 0 calc(25% - 18.75px);
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  position: relative;
  min-height: 350px;
}


.food-menu-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

/* Image Section */
.food-menu-img {
  position: relative;
  overflow: hidden;
}

.food-menu-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* Image Zoom on Hover */
.food-menu-item:hover .food-menu-img img {
  transform: scale(1.1);
}

/* Add to Cart Button */
.add-to-cart-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #ec1a23;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 25px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.food-menu-item:hover .add-to-cart-btn {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}

.add-to-cart-btn:hover {
  background: #ec1a23;
}

/* Info Section */
.food-menu-info {
  padding: 15px 18px;
  text-align: left;
}

.food-menu-info h3 {
  font-size: 1.1rem;
  color: #ee0202;
}

.food-menu-info p {
  font-size: 0.9rem;
  color: #777;
  margin: 8px 0;
}

.food-menu-info span {
  font-weight: 600;
  color: #ec1a23;
  font-size: 0.95rem;
}
.food-menu-title {
    text-align: center;
    margin-bottom: 30px;
}
.food-menu-title h3 {
  font-family: var(--tertiary-font);
  font-weight: 700;
  font-size: 50px;
  color: #1a1a1a;
}
.food-menu-title h3 span{
   color: var(--primary-color);
}
.tabs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 1100px;
  margin: 0 auto 40px auto;
  position: relative;
}
.food-menu-tabs-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  width: 80%;
  scrollbar-width: none;
}

.scroll-left-btn,
.scroll-right-btn {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  background-color: #ec1a23;
  border: none;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.scroll-left-btn:hover,
.scroll-right-btn:hover {
    background: #b14500;
}

.scroll-left-btn {
  left: 17px;
}

.scroll-right-btn {
  right: 17px;
}

.food-menu-tabs {
  display: inline-flex;
  gap: 10px;
  min-width: max-content;
}

.food-menu-tabs-wrapper::-webkit-scrollbar {
  display: none;}

/* menu design end here*/




/* singup/login design start here*/
.main-color {
  background: #fff;
  min-height: 50vh;
  display: flex;
  align-items: center;
}

.auth-section {
  width: 100%;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


.row.align-items-stretch {
  align-items: stretch; 
}

.auth-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-left img {
  width: 90%;
  height: 90%;
  object-fit: cover; 
  display: block;
}
   


.auth-right {
  background: #fff; 
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.auth-content {
  width: 100%;
}

/* ======== Logo & Headings ======== */
.auth-logo {
  width: 90px;
  margin-bottom: 15px;
}

.welcome-text {
  font-size: 28px;
  font-weight: 700;
  color: #e50914; 
  margin-bottom: 5px;
}

.welcome-subtext {
  font-size: 15px;
  color: #555;
  margin-bottom: 25px;
}

/* ======== Form Styling ======== */
.auth-form {
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: 600;
  color: #333;
  font-size: 15px;
  margin-bottom: 6px;
  display: block;
}

input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #e50914;
  box-shadow: 0 0 5px rgba(229, 9, 20, 0.2);
}

/* ======== Buttons ======== */
.btn-primary {
  width: 100%;
  background: #e50914;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.btn-primary:hover {
  background: #c10812;
}

/* ======== Social Buttons ======== */
.google-btn {
  width: 100%;
  margin-top: 15px;
  background: #fff;
  color: #444;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s;
}

.google-btn:hover {
  background: #f6f6f6;
}

.google-btn img {
  width: 18px;
  height: 18px;
}

/* ======== Switch Link ======== */
.auth-content .switch-btn-bottom {
  display: block;
  text-align: center;
  margin-top: 25px;
  font-size: 15px;
  color: #e50914;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}

.auth-content .switch-btn-bottom:hover {
  color: #c10812;
}

/* ================   Signup / Login Design End================*/





/*side bar add to cart css start here*/
.cart iconify-icon {
    font-size: 30px;
}

.notification {
    position: absolute;
    top: 8px;
    right: 10px;
    background: #fff;
    color: #ec1a23;
    border-radius: 50%;
    font-size: 13px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 380px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    transition: right 0.4s ease;
    display: flex;
    flex-direction: column;
}

.cart-sidebar.active {
    right: 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    background: #fff;
    color: #000;
    box-shadow: 0 2px 10px rgba(133, 123, 123, 0.15);
}

.cart-close {
    background: none;
    border: none;
    font-size: 26px;
    color: #575151;
    cursor: pointer;
    
}
.cart-items {
    padding: 20px;
    overflow-y: auto;
}


.cart-item-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0;
    border-bottom: none;
    gap: 15px;
}


.item-image.yellow-bg-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    padding: 3px;
}

.item-details {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto; 
    font-weight: 600;
    
}


.item-price {
    font-size: 14px;
    color: #ec1a23;
    font-weight: 500;
}

.item-quantity-controls {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 10px;
    overflow: hidden;
}

.item-quantity-controls button {
    border: none;
    background: none;
    color: #000;
    width: 30px;
    height: 30px;
    font-weight: normal;
}

.item-quantity-controls .remove-item-btn {
    
    color: #000;
    font-size: 14px;
    padding: 5px 8px; 
}

.item-quantity {
    min-width: 20px;
    text-align: center;
    padding: 0 5px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.cart-summary {
    padding: 0 20px 20px 20px; 
}

.cart-total-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 15px;
}

.cart-summary strong {
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

.cart-total-line strong:last-child {
    font-size: 20px;
    color: #000;
}

.checkout-btn {
    width: 100%;
    padding: 12px;
    background: #ec1a23;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-align: center; 
    display: block; 
}
.checkout-btn:hover{
  color: #000;
}
/*side bar add to cart css end here*/










